# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# macOS
.DS_Store

# Projeye Özel Dosyalar ve Klasörler
.env
data/*.pdf
!data/.gitkeep
vector_db/
AGENTS.md
.idea/